extends layout.jade

block content
    .container-fluid
        .row
            .col-sm-12
                h1.text-center
                    WebGL 3D Model Demo
                hr
                span.
                    Usage: "A" rotate left, "D" rotate right, "W" zoom in, "S" zoom out, "arrows" move around, "1" texture 1, "2" texture 2
        .row
            .col-sm-12
                #container

block script
    script(src='/javascripts/three/build/three.min.js')
    script(src='/javascripts/three/examples/js/loaders/OBJLoader.js')

